h1 {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    color: green;
=======
    color: gray;
>>>>>>> update-color
=======
    color: gray;
>>>>>>> update-color
    background-color: blueviolet;
    font-size: 45px;
    width: 400px;
 }
<<<<<<< HEAD
<<<<<<< HEAD
=======
    color: blue;
 }
>>>>>>> b5a306f548c1d14f47dad7f3f68dbfabaceb4a10
=======

>>>>>>> update-color
=======

>>>>>>> update-color
